%display-flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }
  
%flex-direction-column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
%justify-content-center{
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }

%justify-content-flex-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
    

%align-items-center{
    -webkit-box-align: center;
	  -ms-flex-align: center;
	  align-items: center;
}

%align-items-flex-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

%justify-content-space-between{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

%justify-content-space-around{
  -ms-flex-pack: distribute;
  justify-content: space-around;
}


@mixin animation-duration($s, $name) {
  animation-duration:$s;
  animation-name: $name;
  -moz-animation-duration: $s;
  -moz-animation-name: $name;
  -webkit-animation-duration:$s;
  -webkit-animation-name: $name;
}

@mixin button-hover($background-color, $font-color, $active-background-color){
  &:hover{
    background:$background-color;
    color:$font-color
  }
  &:active{
    background:$active-background-color;
    color:$font-color;
    border-color: $active-background-color;
  }
}